/* .layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  padding-top: 80px; /* Make sure this is equal or greater than the navbar height */
  /* width: 100%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #f8fafc; 
}*/

/* Mobile responsive adjustment */
/* @media (max-width: 768px) {
  .mainContent {
    padding-top: 70px;  
} */ 


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  padding-top: 70px; /* Match your Navbar height here */
  width: 100%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #f8fafc;
  overflow-x: hidden;
   scroll-margin-block: 20px 0;
  writing-mode: horizontal-tb
}

/* Optional: For mobile layout tweaks */
@media (max-width: 768px) {
  .mainContent {
    padding-top: 60px; /* Adjust if mobile Navbar is smaller */
  }
}
